<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPatientServlet</servlet-name>
  	<display-name>AddPatientServlet</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.patient.AddPatientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPatientServlet</servlet-name>
  	<display-name>ViewPatientServlet</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.patient.ViewPatientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePatientServlet</servlet-name>
  	<display-name>DeletePatientServlet</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.patient.DeletePatientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditPatientServlet</servlet-name>
  	<display-name>EditPatientServlet</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.patient.EditPatientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatchPatientServlet</servlet-name>
  	<display-name>PatchPatientServlet</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.patient.PatchPatientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListPatients</servlet-name>
  	<display-name>ListPatients</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.medicalrecords.ListPatients</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowMedicalRecords</servlet-name>
  	<display-name>ShowMedicalRecords</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.medicalrecords.ShowMedicalRecords</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchPatientByName</servlet-name>
  	<display-name>SearchPatientByName</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.medicalrecords.SearchPatientByName</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowMedicalRecordsByDateServlet</servlet-name>
  	<display-name>ShowMedicalRecordsByDateServlet</display-name>
  	<description></description>
  	<servlet-class>com.medisync.servelets.medicalrecords.ShowMedicalRecordsByDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPatientServlet</servlet-name>
  	<url-pattern>/AddPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPatientServlet</servlet-name>
  	<url-pattern>/ViewPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePatientServlet</servlet-name>
  	<url-pattern>/DeletePatientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditPatientServlet</servlet-name>
  	<url-pattern>/EditPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatchPatientServlet</servlet-name>
  	<url-pattern>/PatchPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListPatients</servlet-name>
  	<url-pattern>/ListPatients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowMedicalRecords</servlet-name>
  	<url-pattern>/ShowMedicalRecords</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchPatientByName</servlet-name>
  	<url-pattern>/SearchPatientByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowMedicalRecordsByDateServlet</servlet-name>
  	<url-pattern>/ShowMedicalRecordsByDateServlet</url-pattern>
  </servlet-mapping>
</web-app>
